<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Editing Book</h1>
			<%= form_for(@book) do |f| %>
			<p><strong>Title</strong></p>
			<%= f.text_field :title %>
			<p><strong>Opinion</strong></p>
			<%= f.text_area :body %>
			<%=f.submit "Update Book"%>
			<% end %>
			<%= link_to"Show", book_path %>
			<%= link_to"Back", books_path %>
		</div>
	</div>
</div>
